<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>DoctorRegisterServlet</servlet-name>
        <servlet-class>com.shm.careBridge.servlets.DoctorRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLoginServlet</servlet-name>
        <servlet-class>com.shm.careBridge.servlets.DoctorLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CareTakerLoginServlet</servlet-name>
        <servlet-class>com.shm.careBridge.servlets.CareTakerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLogoutServlet</servlet-name>
        <servlet-class>com.shm.careBridge.servlets.DoctorLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CareTakerLogoutServlet</servlet-name>
        <servlet-class>com.shm.careBridge.servlets.CareTakerLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCareTakerProfileServlet</servlet-name>
        <servlet-class>com.shm.careBridge.servlets.EditCareTakerProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDoctorProfileServlet</servlet-name>
        <servlet-class>com.shm.careBridge.servlets.EditDoctorProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorSearchFromPatient</servlet-name>
        <servlet-class>com.shm.careBridge.servlets.DoctorSearchFromPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentServlet</servlet-name>
        <servlet-class>com.shm.careBridge.servlets.AppointmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoctorRegisterServlet</servlet-name>
        <url-pattern>/DoctorRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CareTakerRegisterServlet</servlet-name>
        <servlet-class>com.shm.careBridge.servlets.CareTakerRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CareTakerRegisterServlet</servlet-name>
        <url-pattern>/CareTakerRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLoginServlet</servlet-name>
        <url-pattern>/DoctorLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CareTakerLoginServlet</servlet-name>
        <url-pattern>/CareTakerLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLogoutServlet</servlet-name>
        <url-pattern>/DoctorLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CareTakerLogoutServlet</servlet-name>
        <url-pattern>/CareTakerLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCareTakerProfileServlet</servlet-name>
        <url-pattern>/EditCareTakerProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDoctorProfileServlet</servlet-name>
        <url-pattern>/EditDoctorProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorSearchFromPatient</servlet-name>
        <url-pattern>/DoctorSearchFromPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentServlet</servlet-name>
        <url-pattern>/AppointmentServlet</url-pattern>
    </servlet-mapping>
</web-app>
