body{
    
}
/*nav{
    position: fixed;
}*/
.primary-background{
    background: #118799;
}

.doctor-navbar{
    background: #f75656;
}

.careTaker-background{
    background: #f75656 !important;
}

/*#nav-item a:hover { color: #040ff0; }*/